<div class="ui top attached negative message">
  <div class="header">
    Eliminar
    {{item.insumo}}
  </div>
  <p>
    Seguro quieres eliminarlo?
  </p>
</div>
<form method="POST" action="" class="ui two bottom attached buttons">
  <a href="/inventario" class="ui secondary basic button">
    Cancelar
  </a>
  <button type="submit" class="ui negative basic button">
    Eliminar
  </button>
</form>
