<div class="ui top attached negative message">
  <div class="header">
    Eliminar
    {{item.name}}
  </div>
  <p>
    Seguro quieres eliminarla?
  </p>
</div>
<form method="POST" action="" class="ui two bottom attached buttons">
  <a href="/recetas" class="ui secondary basic button">
    Cancel
  </a>
  <button type="submit" class="ui negative basic button">
    Eliminar
  </button>
</form>
